/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
     font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
 }

 body {
  background-color: #121314;
  color: white;
 }

 h1 {
   font-size: 32px;
 }

 h2 {
   font-size: 24px;
 }

 h3 {
   font-size: 20px;
 }

 h4 {
   font-size: 16px;
 }

 h5 {
   font-size: 14px;
 }

 h6 {
   font-size: 11px;
 }

 .navigation {
   background-color: #1c1c1e;
   color: white;
 }

 .navigation ul {
   display: flex;
   justify-content: space-between;
 }

 .navigation ul li {
   display: flex;
 }

 .nav-button-left {
   padding-left: 45px;
   padding-right: 45px;
   padding-top: 17px;
   padding-bottom: 17px;
   border-left: 1px solid black;
   border-right: 1px solid black;
   color: #cccccc;
 }

 .nav-button {
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 5px;
   margin: 10px;
   border: 1px solid grey;
 }

 .nav-button-solid {
   background-color: grey;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 5px;
   margin: 10px;
   border: 1px solid grey;
   color: white;
   outline: none;
 }

 .login-signup {
   display: flex;
   width: 250px;
   background-color: #1c1c1e;
   color: white;
 }

 .login-signup li {
   display: flex;
   justify-content: space-between;
 }

 .personal-greeting {
   display: flex;
   width: 250px;
   background-color: #1c1c1e;
   color: white;
 }

 .user-box {
   display: flex;
   align-items: center;

   background-color: transparent;
   display: flex;
   justify-content: space-between;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin: 10px;
   border-left: 1px solid orange;
   border-right: 1px solid orange;
   width: 100px;
 }

 .user-avatar {
   display:flex;
   height: 20px;
   width: auto;
 }

 .user-name {
   display:flex;
   font-size: 12px;
   vertical-align: middle;
 }


.personal-greeting {
  display: flex;
  justify-content: space-between;
}

 .hide-errors {

   display:none;
 }

 .current {
   background-color: #ffa500;
 }

 .personal-greeting {
   background-color: #1c1c1e;
   color: white;
 }

 .header-name {
   background-color: grey;
 }

 /*.header-button {
   background-color: orange;
 }*/

 .login-form-container {

 }

.login-form-box {
  background-color: #1c1c1e;
  position: absolute;
  top: 70px;
  right:10px;
  padding: 15px;
  width: 300px;
}

.login-form {
  /*position: absolute;*/
}

.login-input{
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.login-input:focus{
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid #ffa500;
  outline: orange;
}

.input-button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid #ffa500;
  background-color: transparent;
  color: white;
  outline: none;
}

.input-button-solid {
  background-color: #ffa500;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid #ffa500;
  color: white;
  outline: none;
}

.main-content{
  display: flex;
  align-items: center;
}

.errors {
  position: fixed;
  right: 400px;
  top: 275px;
  background-color: rgb(185, 185, 185);
  color: #1c1c1f;
  padding: 15px;
  border-radius: 15px;
  font-size: 12px;
  color: white;
}

.player{
  width: 100%;
  position:fixed;
  bottom:0;
  background-color: #1c1c1f;
  display: flex;
  justify-content: space-between;
}

.player h4 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.required {
  color: grey;
}
 /*font family? "Helvetica Neue", Helvetica, sans-serif*/
