/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
     font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
 }

 body {
  background-color: #121314;
  color: white;
 }

 h1 {
   font-size: 32px;
 }

 h2 {
   font-size: 24px;
 }

 h3 {
   font-size: 20px;
 }

 h4 {
   font-size: 16px;
 }

 h5 {
   font-size: 14px;
 }

 h6 {
   font-size: 11px;
 }

 .navigation {
   background-color: #1c1c1e;
   color: white;
 }

 .navigation ul {
   display: flex;
   justify-content: space-between;
 }

 .navigation ul li {
   display: flex;
 }

 .nav-button-left {
   padding-left: 45px;
   padding-right: 45px;
   padding-top: 17px;
   padding-bottom: 17px;
   border-left: 1px solid black;
   border-right: 1px solid black;
   color: #cccccc;
 }

 .nav-button {
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 5px;
   margin: 10px;
   border: 1px solid grey;
 }

 .nav-button-solid {
   background-color: grey;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 5px;
   margin: 10px;
   border: 1px solid grey;
   color: white;
   outline: none;
 }

 .login-signup {
   display: flex;
   width: 250px;
   background-color: #1c1c1e;
   color: white;
 }

 .login-signup li {
   display: flex;
   justify-content: space-between;
 }

 .personal-greeting {
   display: flex;
   width: 250px;
   background-color: #1c1c1e;
   color: white;
 }

 .user-box {
   display: flex;
   align-items: center;

   background-color: transparent;
   display: flex;
   justify-content: space-between;
   padding-left: 10px;
   padding-right: 10px;
   border-left: 1px solid orange;
   border-right: 1px solid orange;
   width: 100px;
 }

 .user-avatar {
   display:flex;
   height: 40px;
   width: auto;
   border-radius: 25px;
 }

 .user-name {
   display:flex;
   font-size: 12px;
   vertical-align: middle;
 }


.personal-greeting {
  display: flex;
  justify-content: space-between;
}

 .hide-errors {

   display:none;
 }

 .current {
   background-color: #ffa500;
 }

 .personal-greeting {
   background-color: #1c1c1e;
   color: white;
 }

 .header-name {
   background-color: grey;
 }

 /*.header-button {
   background-color: orange;
 }*/

 .login-form-container {

 }

.login-form-box {
  background-color: #1c1c1e;
  position: absolute;
  top: 70px;
  right:10px;
  padding: 15px;
  width: 300px;
}

.track-form-box {
  background-color: #1c1c1e;
  padding: 15px;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -150px; /* Negative half of width. */
}

.login-form {
  /*position: absolute;*/
}

.login-input{
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.login-input:focus{
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid #ffa500;
  outline: orange;
}

.input-button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  /*margin-left: 10px;*/
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffa500;
  background-color: transparent;
  color: white;
  outline: none;
}

.input-button-solid {
  background-color: #ffa500;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid #ffa500;
  color: white;
  outline: none;
}

.main-content{
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.errors {
  position: fixed;
  right: 400px;
  top: 275px;
  background-color: rgb(185, 185, 185);
  color: #1c1c1f;
  padding: 15px;
  border-radius: 15px;
  font-size: 12px;
  color: white;
}

.player{
  display: flex;
  justify-content: space-between;
}

.player h4 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.required {
  color: grey;
}


.track-index-item {
  display: flex;
  justify-content: space-between;
  flex-flow: flex-start;

  border: 1px solid #1c1c1e;
  border-radius: 2px;
  padding: 3px;
}

.index-item-info {
  border: 1px solid #1c1c1e;
  border-radius: 2px;
  padding: 3px;
}

.index-item-title {
  border: 1px solid #1c1c1e;
  border-radius: 2px;
  padding: 3px;
}
.index-item-user-id {
  border: 1px solid #1c1c1e;
  border-radius: 2px;
  padding: 3px;
}
.index-item-audio-url {
  border: 1px solid #1c1c1e;
  border-radius: 2px;
  padding: 3px;
}
.index-item-image-url {
  border: 1px solid #1c1c1e;
  border-radius: 2px;
  padding: 3px;
}

.index-item-age {
  border: 1px solid #1c1c1e;
  border-radius: 2px;
  padding: 3px;
  color: grey;
  font-size: 12px;
}

.album-art {
  height: 100px;
  width: auto;
  opacity: 1;
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
}



.track-section-left {
  width: 25%;
}
.track-section-center {
  width: 45%;
}
.track-section-right {
  width: 30%;
}








 /*font family? "Helvetica Neue", Helvetica, sans-serif*/

/* holds everything: */
.player-div {
  display: flex;
  width: 100%;
  position: fixed;
  bottom:0;
  background-color: #1c1c1f;
  font-size: 10px;
  bottom: 0;
  color: white;
  width: 100%;
}

/* not visible */
.react-player {
  display: none;
}

/* also not visible */
.player-section {
  display: none;
}

.player-controls {
  display: flex;
  width: 66.66%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: #cccccc;
}


.player-controls ul {
  display: flex;
  justify-content: space-between;

}

.player-controls ul li {
  display: flex;
  justify-content: space-between;
}

.player-controls ul li > * {
  display: flex;
  padding: 15px;
}

.player-track-info-box {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

.player-track-info-box > * {
  float: left;
  margin-left: 10px;
}

.player-track-info-box-image {
  display: inline-block;
  height: 70px;
  width: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 7px;
  margin-left: 20px;
  /*border: none;*/
}

.player-track-name {
  font-size: 18px;
  margin-left: 15px;
  margin-top: 15px;

}

.player-control-title {
  font-size: 12px;
  /*margin-left: 20px;*/
}

.seek-bar {
  width: 500px;
}

.volume-bar {
  width: 60px;
}

.player-artist-name {
  font-size: 12px;
  margin-left: 15px;
  /*margin-left: 10px;*/
}


.player-messages {
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: rgb(185, 185, 185);
    color: #1c1c1f;
    padding: 15px;
    border-radius: 15px;
    font-size: 12px;
    color: white;
}

.home {
  /*display: flex;*/
  padding: 20px;
  border: 1px solid grey;;
}

.artist-list {
  /*display: flex;*/
  border: 1px solid grey;
}

.artist-list-item {
  /*display: flex;*/
  border: 1px solid grey;
  margin: 5px;
}

.home-index-item-info {
  border: 1px solid grey;
}

.home-index-item-name {
  border: 1px solid grey;
}
.home-index-item-image {
  border: 1px solid grey;
}

.user-page {
  width: 100%;
}

.user-page-banner {
  color: red;
  width: 100%;
  height: 150px;
}

.user-page-tracks {

}

.user-page-track-comments {

}

.loaded-progress {
  position: fixed;
  bottom: 0;

  -webkit-appearance: none;
 appearance: none;

 width: 100%;
 height: 2px;
}

progress[value]::-webkit-progress-bar {
  background-color: black;
  /*border-radius: 2px;*/
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;*/
}

progress[value]::-webkit-progress-value {
  background-color: #ffa500;
  border-radius: 2px;
}

/*progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           #ffa500,
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}*/


.play-button-wrapper {
    margin: auto;
      display: flex;
      height: 50px;
      width: 50px;
      /*border: 1px solid red;*/
      margin-left: 15px;
}

.play-button-wrapper button  {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  /*border: 1px solid blue;*/
  border-radius: 25px;

  background-color: #ffa500;
  border: 1px solid #ffa500;
  color: white;
  outline: none;
}
