/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
 }

.all-content {
  display: flex;
  flex-direction: column;
}

.navigation {
  background-color: #1c1c1e;
  color: white;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
}

.navigation ul li {
  display: flex;
}

.nav-button-left {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 17px;
  padding-bottom: 17px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: #cccccc;
}


.main-content{
  display: flex;
  width: 100%;

  max-width: 1300px;
  margin: 0 auto !important;
  float: none !important;
  margin-bottom: 100px !important;
}

.player-div {
  display: flex;
  width: 100%;
  position: fixed;
  background-color: #1c1c1f;
  font-size: 10px;
  bottom: 0;
  color: white;
}

.player{
  display: flex;
  justify-content: space-between;
}

 .landing {
   position: flex;
   width: 100%;
   height: 100%;
 }

 .image0 {
   position: fixed;
   background-image: url("http://res.cloudinary.com/localscene/image/upload/v1478750191/photo-1470229722913-7c0e2dbbafd3_goirjw.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
 }

 .landing-title {
   font-size: 110px;
   margin-top: 0px;
   margin-bottom: -50px;
   margin-left: 150px;
   margin-right: 0px;
 }
 .landing-sub-1 {
   font-size: 50px;
   position: absolute;
   top: 200px;
   left: 0;
 }
 .landing-sub-2 {
   font-size: 30px;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 200px;
   margin-right: 0px;
 }
 .landing-sub-3 {
   position: absolute;
   bottom: 250px;
   right: 0;
   font-size: 22px;
 }
 .landing-sub-4 {
   position: absolute;
   bottom: 220px;
   right: 25px;;
   font-size: 20px;
 }
 .landing-sub-5 {
   position: absolute;
   bottom: 190px;
   right: 50px;;
   font-size: 30px;
 }


 body {
  background-color: #121314;
  color: white;
 }

 h1 {
   font-size: 32px;
 }

 h2 {
   font-size: 24px;
 }

 h3 {
   font-size: 20px;
 }

 h4 {
   font-size: 16px;
 }

 h5 {
   font-size: 14px;
 }

 h6 {
   font-size: 11px;
 }




 .nav-button {
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 5px;
   margin: 10px;
   border: 1px solid grey;
 }

 .nav-button-solid {
   background-color: grey;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 5px;
   margin: 10px;
   border: 1px solid grey;
   color: white;
   outline: none;
 }

 .login-signup {
   display: flex;
   width: 250px;
   background-color: #1c1c1e;
   color: white;
 }

 .login-signup li {
   display: flex;
   justify-content: space-between;
 }

 .personal-greeting {
   display: flex;
   width: 250px;
   background-color: #1c1c1e;
   color: white;
 }

 .user-box {
   display: flex;

   background-color: transparent;
   display: flex;
   justify-content: space-between;
   padding-left: 10px;
   padding-right: 10px;

   border-left: 1px solid orange;
   border-right: 1px solid orange;
   width: 100px;
 }

 .user-box div {

   display: flex
   width: 100%;
   height: 100%;
 }

 .user-box div > * {
   width: 100%;
   height: 100%;
 }

 .user-box > *{
   display: flex;
   /*justify-content: space-around;*/
   width: 100%;
   /*height: 100%;*/
   /*border: 1px solid red;*/
   /*margin-top: 7px;
   margin-top: 7px;*/
 }


 .user-avatar {
   display: flex;
   height: 50px;
   width: auto;
   border-radius: 25px;
   /*margin-top: 1px;*/
   margin: 0 auto;

 }

 .user-name {
   display:flex;
   font-size: 14px;
   margin: 0 auto;
   color: white;
   vertical-align: middle;
 }


.personal-greeting {
  display: flex;
  justify-content: space-between;
}

 .hide-errors {
   display:none;
 }

 .current {
   background-color: #ffa500;
 }

 .personal-greeting {
   background-color: #1c1c1e;
   color: white;
 }

 .header-name {
   background-color: grey;
 }


 .login-form-container {
 }

.login-form-box {
  background-color: #1c1c1e;
  position: fixed;
  top: 70px;
  right:10px;
  padding: 15px;
  width: 300px;
  z-index: 5;
}

.track-form-box {
  background-color: #1c1c1e;
  padding: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -150px; /* Negative half of width. */
}


.login-input{
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.login-input:focus{
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid #ffa500;
  outline: orange;
}

.input-button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffa500;
  background-color: transparent;
  color: white;
  outline: none;
}

.input-button-solid {
  background-color: #ffa500;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid #ffa500;
  color: white;
  outline: none;
}

.errors {
  position: fixed;
  right: 400px;
  top: 275px;
  background-color: rgb(185, 185, 185);
  color: #1c1c1f;
  padding: 15px;
  border-radius: 15px;
  font-size: 12px;
  color: white;
}

.player h4 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.required {
  color: grey;
}


.track-index-item {
  display: flex;
  justify-content: space-between;
  flex-flow: flex-start;
  border-top: 1px solid #1c1c1e;
  padding: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
    background-color: grey;
}

.index-item-info {
  border-left: 1px solid #1c1c1e;
  padding: 3px;
}

.index-item-title {
  font-size: 25px;
  padding: 3px;
}
.index-item-user-id {
  font-size: 10px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}
.index-item-audio-url {
  border: 1px solid #1c1c1e;
  border-radius: 2px;
  padding: 3px;
}
.index-item-image-url {
  border: 1px solid #1c1c1e;
  border-radius: 2px;
  padding: 3px;
}

.index-item-age {
  border-radius: 2px;
  padding: 3px;
  color: white;
  font-size: 12px;
}

.album-art {
  height: 100px;
  width: 100px;
}



.track-section-left {
  width: 15%;
}
.track-section-center {
  width: 55%;
}
.track-section-right {
  width: 30%;
}








/* not visible */
.react-player {
  display: none;
}

/* also not visible */
.player-section {
  display: none;
}

.player-controls {
  display: flex;
  width: 66.66%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  color: #cccccc;
}


.player-controls ul {
  display: flex;
  justify-content: space-between;

}

.player-controls ul li {
  display: flex;
  justify-content: space-between;
}

.player-controls ul li > * {
  display: flex;
  padding: 15px;
}

.player-track-info-box {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
}

.player-track-info-box > * {
  float: left;
  margin-left: 10px;
}

.player-track-info-box-image {
  display: inline-block;
  height: 70px;
  width: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 7px;
  margin-left: 20px;
  /*border: none;*/
}

.player-track-name {
  font-size: 18px;
  margin-left: 15px;
  margin-top: 15px;

}

.player-control-title {
  font-size: 12px;
}

.seek-bar {
  width: 500px;
}

.volume-bar {
  width: 60px;
}

.player-artist-name {
  font-size: 12px;
  margin-left: 15px;
}


.player-messages {
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: rgb(185, 185, 185);
    color: #1c1c1f;
    padding: 15px;
    border-radius: 15px;
    font-size: 12px;
    color: white;
}

.home {
  display: flex;
}

.artist-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.artist-list-item {
  position: relative;
  border: 2px solid white;
  margin: 5px;
  margin-top: 40px;
  width: 250px;
  height: 250px;
}


.home-index-item-name {
  position: absolute;
  bottom: 25px;;
  left: -15px;
  font-size: 20px;
  background-color: grey;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
}



.user-page {
  width: 100%;
}

.user-page-banner {
  width: 100%;
  height: 150px;
}

.user-page-tracks {

}

.user-page-track-comments {

}

.user-page-header {
  display: flex;

}

.banner-picture {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;


  height: 300px;
  margin: 0 auto;
}

.profile-picture {
  position: absolute;
  top:150px;
  left:100px;
  height: 175px;
  width: auto;
  border-radius: 100px;
}

.artist-info {
  position: absolute;
  top:225px;
  left:225px;
}

.artist-info-name {
  background-color: black;
  margin: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

.artist-info-age {
  background-color: black;
  margin: 5px;
  margin-left: 40px;
  padding-right: 15px;
  padding-left: 15px;
}


.loaded-progress {
  position: fixed;
  bottom: 0;

  -webkit-appearance: none;
 appearance: none;

 width: 100%;
 height: 2px;
}

progress[value]::-webkit-progress-bar {
  background-color: black;
}

progress[value]::-webkit-progress-value {
  background-color: #ffa500;
  border-radius: 2px;
}

/*progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           #ffa500,
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}*/


.play-button-wrapper {
    margin: auto;
      display: flex;
      height: 50px;
      width: 50px;
      /*border: 1px solid red;*/
      margin-left: 15px;
}

.play-button-wrapper button  {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  /*border: 1px solid blue;*/
  border-radius: 25px;

  background-color: #ffa500;
  border: 1px solid #ffa500;
  color: white;
  outline: none;
}

/*.transparent {
  position: fixed;
  background-color: white;
  opacity: .5;
  top:0;
  bottom:0;
  z-index: 2;
}

.z-1 {
  z-index: 1;
}*/

.logo {
  position: absolute;
  /*background-color: white;*/
  top: 8px;
  font-size: 35px;
  color: orange;

  /*padding: 5px;*/
}

.logo-image {
  position: absolute;
  top:10px;
  left: 10px;
  height: 40px;
  width: auto;
}

.temp-track-container {
  /*margin-bottom: 100px;*/
}

.volume-bar {
  position: absolute;
  bottom: 20px;
  left: 100px;*/
  padding: 0;
}

.volume-title {
  position: absolute;
  bottom: -5px;
  left: 103px;
  font-size: 10px;
}

.seek-bar {
  position: absolute;
  bottom: 20px;
  left: 225px;
}

.seek-title {
  position: absolute;
  bottom: -5px;
  left: 233px;
  font-size: 10px;
}

.time {
  position: absolute;
  bottom: 25px;
  left: 700px;
}







/*
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 4px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}*/
