/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  background-color: #121314;
  color: white;
 }

 .navigation {
   background-color: #1c1c1f;
   color: #6d6e70;
 }

 .login-signup {
   background-color: red;
 }

 .current {
   background-color: blue;
 }

 .header-group {
   background-color: green;
 }

 .header-name {
   background-color: grey;
 }

 .header-button {
   background-color: orange;
 }

.login-form-container {

}

.login-form-box {

}

.login-form {

}

.login-input{

}
 /*font family? "Helvetica Neue", Helvetica, sans-serif*/
