/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-color: #121314;
  color: white;
 }

 .navigation {
   background-color: #1c1c1e;
   color: white;
 }

 .navigation ul {
   display: flex;
   justify-content: space-between;
 }

 .navigation ul li {
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 15px;
   padding-bottom: 15px;
   display: flex;
   background-color: blue;
 }

 .nav-button {
   background-color: grey;
   padding: 10px;
   border-radius: 15px;
 }

 .login-signup {
   display: flex;
   width: 250px;
   background-color: #1c1c1e;
   color: white;
   background-color: red;
 }

 .login-signup li {
   display: flex;
   justify-content: space-between;
   background-color: black;
 }

 .errors {
   position: fixed;
   right: 35px;
   top: 300px;
   background-color: rgb(185, 185, 185);
   color: #1c1c1f;
   padding: 10px;
   border-radius: 15px;
 }

 .hide-errors {
   display:none;
 }

 .current {
   background-color: orange;
 }

 .personal-greeting {
   background-color: #1c1c1e;
   color: white;
 }

 .header-name {
   background-color: grey;
 }

 /*.header-button {
   background-color: orange;
 }*/

.login-form-container {

}

.login-form-box {

}

.login-form {

}

.login-input{

}

.main-content{
  display: flex;
  align-items: center;
}

.login-form-container {
  background-color: #1c1c1e;
  position: fixed;
  top: 100px;
  right:10px;
  padding: 15px;
}

.player{
  width: 100%;
  position:fixed;
  bottom:0;
  background-color: #1c1c1f;
  display: flex;
  justify-content: space-between;
}

.player h4 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
 /*font family? "Helvetica Neue", Helvetica, sans-serif*/
